<md-toolbar class="find-a-job-content" color="primary" fxLayout="row" fxLayoutAlign="center center">
  <span fxFlex="1 1 auto" fxLayoutAlign="center center">Search for a job</span>
  <md-toolbar-row>
        <form fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <md-select placeholder="Location" [(ngModel)]="selectedLocation" name="location">
            <md-option *ngFor="let location of locations" [value]="location.value">
              <span>{{location.viewValue}}</span>
            </md-option>
          </md-select>
          <md-select placeholder="Category" [(ngModel)]="selectedCategory" name="category">
            <md-option *ngFor="let category of categories" [value]="category.value">
              <span>{{category.viewValue}}</span>
            </md-option>
          </md-select>
          <md-select placeholder="Engagement" [(ngModel)]="selectedEngagement" name="engagement">
            <md-option *ngFor="let engagement of engagements" [value]="engagement.value">
              <span>{{engagement.viewValue}}</span>
            </md-option>
          </md-select>

           <p> Selected value: {{selectedLocation}}, {{selectedEngagement}}, {{selectedCategory}} </p> 
        </form>
  </md-toolbar-row>
  <md-toolbar-row fxLayout="row" fxLayoutAlign="center center"><button md-raised-button  color="accent" (click)="filterJobs(selectedLocation, selectedEngagement, selectedCategory)" class="mr-1">
                Filter
            </button>
  </md-toolbar-row>
</md-toolbar>
<hr>

<div class="jobs-wrapper">
    <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-xs="33" fxFlex.gt-sm="25" fxFlex.gt-md="25" fxFlex="100" *ngFor="let job of jobs">
            <md-card>
                <md-card-header>
                    <md-card-title> {{ job.title }}</md-card-title>
                </md-card-header>
                <hr>
                <md-card-content>
                  {{ job.description }}
                </md-card-content>
                <md-card-subtitle>
                  Posted by: {{ job.company.name }}
                </md-card-subtitle>
                <hr>
                <md-card-actions fxLayout="row" fxLayoutAlign="start stretch">
                    <button [routerLink]="['/jobs/job']" color="primary" fxLayoutAlign="center center" fxFlex="100" md-button>
                        View
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>