<md-card class="example-card">
  <md-card-header>
    <div class="example-header-image" style="
  background-image: url('../../../assets/images/blank-profile-picture-973460_640.png')" md-card-avatar></div>
    <md-card-title>{{username}}</md-card-title>
    <md-card-subtitle>{{email}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../../../assets/images/blank-profile-picture-973460_640.png">
  <md-card-content>
    <!-- <inline-editor type="textarea" [(ngModel)]="profileInfo" (onSave)="saveEditable($event)"></inline-editor> -->
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
    <button md-button (click)="logout()">LOGOUT</button>
  </md-card-actions>
</md-card>
