<md-card *ngIf="user">
        <md-card-content>
          <div fxLayout="row">
            <div fxFlex="55">
              <h1 *ngIf="isApplicant" class="ma-0">{{user.firstName}} <b>{{user.lastName}}</b></h1>
              <h1 *ngIf="!isApplicant" class="ma-0">{{user.name}} <b></b></h1>
              <small>{{ userInfo.email }}</small>
              <button md-raised-button color="primary">Edit Profile</button>
            </div>
            <div fxFlex="60">
              <figure>
                <div class="text-xs-center">
                  <img *ngIf="isApplicant" width="100" src="../../../../assets/images/blank-profile-picture-973460_640.png" alt="" class="radius-circle">
                  <img *ngIf="!isApplicant" width="100" src="../../../../assets/images/company-default-logo.jpg" alt="" class="radius-circle">
                </div>
              </figure>
            </div>
          </div>
        </md-card-content>
        <hr>
         <md-card-content>
          <div fxLayout="row" class="text-xs-center">
            <div fxFlex="100">
              <h1 class="ma-0"><b>{{ user.jobs.length }}</b></h1>
              <small>{{ isApplicant? 'Applications': 'Positions' }}</small>
            </div>
          </div>
        </md-card-content> 
        <hr>
        <md-card-content>
          <h4 class="mt-0">About</h4>
          <p>{{ userInfo.info }}</p>
        </md-card-content>
</md-card>