<div class="wrapper" fxLayout="row" fxLayoutWrap="wrap" fxFlexFill>
  <div fxFlex.gt-sm="25" fxFlex="100" fxFlexFill>
      <app-profile-info 
        [user]="company" 
        (onEditProfile)="editProfile($event)"
      ></app-profile-info>
  </div>
  <div fxFlex.gt-sm="75" fxFlex="100">
    <app-profile-data 
        [navigate]="'/company/jobs/'"
        [jobsData]="jobs"
        [applicantView]="false"
        [jobsCount]="jobsCount"
        (onAddJob)="addJob($event)"
        (onDeleteJob)="deleteJob($event)"
        (onEditJob)="editJob($event)"
        (onDeactivateProfile)="deleteCompany($event)"
    ></app-profile-data>
  </div>
</div>
