<div *ngIf="job" class="job-detail-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap="wrap">
<div class="mt-2 ml-1 mr-1">
   <button class="mb-1" (click)="this.location.back()" color="primary" fxLayoutAlign="center center" md-raised-button>
                        <span fxLayoutAlign="start center" class="text-xs-center"> <md-icon>navigate_before</md-icon> Back </span>
   </button>
    <md-card class="mt-1">
      <md-card-header>
                <md-card-title> {{ job.title }} </md-card-title>
                </md-card-header>
                <hr>
                <md-card-content>
                  <b> About us </b><br>
                  {{ job.companyInfo }}
                </md-card-content>
                <md-card-content>
                  <b> Description </b><br>
                  {{ job.description }}
                  </md-card-content>
                  <md-card-content>
                    <b> Requirements </b><br>
                   {{ job.requirements }}
                </md-card-content>
                <md-card-content>
                  <b> Benefits </b><br>
                  {{ job.benefits }}
                </md-card-content>
                <md-card-subtitle>
                  Posted by: Centroida
                </md-card-subtitle>
                <hr>
                <md-card-actions fxLayout="row" fxLayoutAlign="start stretch">
                    <button (click)="this.applyJobDetail()" [disabled]="!!this.isCompanyJob" color="primary" fxLayoutAlign="center center" fxFlex="100" md-button>
                     {{ value }}
                    </button>
                </md-card-actions>
    </md-card>
  </div>
</div>