/* KRISKO VERSION  */
/* .home-content img{
  width: 300px;
  height: auto;
  padding: 100px 0 20px 0;
}  */

  .home-content img{
  width: 200px;
  height: auto;
  padding: 60px 0 0 0;
}  

.home-content h1{
  color: #3f51b5;
}

.home-content button{
  margin: 15px 0 0 0;
}
